input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.main{
  padding-top: 20px;
  margin: auto;
  width: 60%;
  height: auto;
}

/* Hide the arrows in Chrome, Safari, Edge, and Opera
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* Hide the arrows in Firefox
input[type="number"] {
  -moz-appearance: textfield;
} */